@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	transition:all 1s;
}

.section { 
	position: relative; 
	text-align: center; 
	font: 50px "Microsoft Yahei"; 
	color: #fff;
}

.section p { 
	position: relative; 
	font-size:24px;
}

.pic_1 {
	width:200px;
}